/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* General Styles */
body {
    font-family: "Ubuntu", sans-serif;
    max-width: 1000px;
    margin: auto;
    color: #00008b;
    background: #eeedff;
    background: linear-gradient(90deg, rgba(238, 237, 255, 1) 0%, rgba(222, 222, 255, 1) 35%, rgba(194, 194, 255, 1) 100%);
}
main {
    max-width: 800px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
h1,
h2,
h3 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}
h1,
h2 {
    text-align: center;
}
/* Header Styles */
header {
    background: #686869;
    background: linear-gradient(262deg, rgba(104, 104, 105, 1) 0%, rgba(153, 153, 153, 1) 50%, rgba(177, 179, 181, 1) 100%);
    padding-top: 1rem;
    padding-right: 2rem;
}
header a {
    text-decoration: none;
    color: inherit;
}
/* Nav Links */
nav {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: x-small;
    text-align: end;
}
.current {
    font-weight: bold;
}
#nav-links {
    letter-spacing: 2px;
    list-style-type: none;
}
#nav-links > li {
    margin-bottom: 1em;
}
/* Images & Videos */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}
.gallery img {
    max-width: 250px;
    width: 100%;
    padding: 5px;
    object-fit: contain;    
}
.gallery video {
    max-width: 250px;
    width: 100%;
    padding: 5px;
    object-fit: contain;
}
.image {
    object-fit: contain;
    width: 100%;
}
/* Button Styling */
.button {
    color: #00008b;
    background: #bfbfbf;
    background: linear-gradient(39deg, rgba(191, 191, 191, 1) 1%, rgba(172, 172, 176, 1) 47%, rgba(140, 140, 140, 1) 100%);
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: bold;
    border-radius: 10%;
    border-color: #00008b;
}
.button:hover {
    color: #ccccdc;
    background: #0900b5;
    background: linear-gradient(90deg, rgba(9, 0, 181, 1) 0%, rgba(0, 0, 145, 1) 35%, rgba(0, 0, 139, 1) 100%);
}
/* Form Styling */
.form-styling {
    border: 2px;
    border-color: #00008b;
    border-style: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}
.form-element {
    padding: 5px;
}
.flex100 {
    flex-basis: 100%;
}
.flex33 {
    flex-basis: 30%;
}
.flex-center {
    text-align: center;
}
/* Footer */
footer {
    background: #686869;
    background: linear-gradient(262deg, rgba(104, 104, 105, 1) 0%, rgba(153, 153, 153, 1) 50%, rgba(177, 179, 181, 1) 100%);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer > div {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
#contactus > p > a {
    text-decoration: none;
    color: inherit;
}
.small-font {
    font-size: small;
}
.ftr-borders {
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
}
.social-media-links {
    list-style-type: none;
}
.social-media-links i {
    font-size: 120%;
    color: #00008b;
}
.social-media-links a {
    text-decoration: none;
    color: #00008b;
}

/* Media queries */
/* Medium devices, tablets 768px and up */
@media screen and (min-width:768px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .ftr-borders {
        border-top: none;
        border-bottom: none;
        border-left: solid 1px white;
        border-right: solid 1px white;
    }
}